body{
 background: linear-gradient(
  90deg, rgba(230,231,249,1) 0%, rgba(246,242,239,1) 56%, rgba(237,241,250,1) 100%);
}

html, body{
overflow-x:hidden;
}

*{
  font-family: 'Roboto', sans-serif;
}
/* //mycss */
.progress {
  height: 28px!important;
  width: 93%;
  margin: auto; 
}
.progressive_bars.bars {
  width: 88%;
}
.dot_round i {
  font-size: 8px;
  background: white;
  color: white;
  /* border: 8px solid red; */
  border-radius: 100%;
}
.progress-bar {
  text-align: unset!important;
  padding-left: 2%;
  font-size: 18px;
  font-weight: 800;
}
.progress_text {
  color: #ffc107!important;
}
.progress_text1 {
  color: #e1a900!important;
}
.progress_text2 {
  color: #f96fab!important;
}
.progress_text3 {
  color: #5a43b6!important;
}
.progress_text4 {
  color: #5cabd0!important;
}
.progress_text5 {
  color: #80d137!important;
}
.progress_cricle i{
  border: 8px solid #ffc107;
}
.progress_cricle1 i {
  border: 8px solid #e1a900;
}
.progress_cricle2 i {
  border: 8px solid #f96fab;
}
.progress_cricle3 i{
  border: 8px solid #5a43b6;
}
.progress_cricle4 i{
  border: 8px solid #5cabd0;
}
.progress_cricle5 i{
  border: 8px solid #80d137;
}
.progress_bg {
  background-color: #ffc107!important;
}
.progress_bg1 {
  background-color: #e1a900!important;
}
.progress_bg2 {
  background-color: #f96fab!important;
}
.progress_bg3 {
  background-color: #5a43b6!important;
}
.progress_bg4 {
  background-color: #5cabd0!important;
}
.progress_bg5 {
  background-color: #80d137!important;
}

.left {
  width: 15%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: transparent;
  position: fixed;
  transition: all 0.5s;
  border-right: 1px solid #fff;
}

.left .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background: transparent!important;
  border-color: transparent!important;
}

.left:hover ul li.menu-heading {
  opacity: 1;
}

.left ul {
  padding-left: 15px;
}

.left ul li {
  list-style-type: none;
}

.left ul li.active a, .left ul li.active a i {
  color: #545454;
}

.left ul li a {
  display: flex;
  align-items: center;
  color: #000!important;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 400;
}

.left ul li a:hover {
  text-decoration: none;
}


.left ul li a:focus {
  text-decoration: none;
}

.left ul li a i{
  margin-right: 10px;
}

.left ul li a i.fa {
  width: 40px;
  text-align: center;
  padding: 10px;
  transition: all 1s;
  color: #a18ec5;
  background: #fff;
  border-radius: 11px;
}

.left ul .menu-heading {
  opacity: 0;
  padding: 10px 5px 10px 10px;
  color: #b3b300;
  font-size: smaller;
  border-bottom: 1px solid #2b3443;
  transition: all 0.5s;
}

.right {
    transition: all 0.5s;
    margin-left: 15%;
    padding: 0px 50px;
    width: calc(100% - 15%);
}

.profile {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
}


#Covid h3{
  font-size: 32px;
  font-weight: bold;
  color: #121212;
}

#Covid p{
  font-size:20px;
  font-weight: bold;
  color: #121212;
}

#Covid h2{
  font-size:55px;
  font-weight: bold;
  color: #121212;
}

.report-post img {
    border-radius: 20px;
    height: 235px;
    width: 100%;
    object-fit: cover;
}

.report-box {
    border-radius: 10px;
}

.report-box select {
    word-wrap: normal;
    height: 65px;
    border: 0;
    outline: none;
    border-radius: 10px;
    width: 200px;
}

.report-box p {
    font-size: 14px!Important;
    font-weight: 500!important;
}

.report-box{
  padding: 15px;
}

.report-box p {
    font-size: 11px!Important;
    font-weight: 500!important;
}

.report-box select{
  padding: 15px;

}

.logout {
  text-decoration: none;
  text-align: right;
  padding-top: 73px;
  display: block;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none !important;
  text-align: right;
  color: currentColor;
}
.logout-calender {
    margin-top: 50px;
}
.admin-datails-section img {
    width: 60px;
    height: 60px;
    position: relative;
    
}
.admin-datails {
    
    width: 260px;
    height: 230px;
    margin: auto;
    position: absolute;
    right: 40px;
    z-index: 99;
    background: linear-gradient(to right, #f069ae 0%, #6e1dd1 80%);
    text-align: center;
    padding-top: 40px;
    margin-top: 10px;
}
.admin-datails-section h6 {
    color: #ffff;
    padding-top: 10px;
}
/*.admin-datails{
  display: none;
}
.deshboard-user-img:hover .admin-datails{
  display: block;

}*/

.popup-deshborad {
    padding-top: 50px;
}
.deshboard-user-img span {
    text-align: end;
    display: block;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.profile-btn-section{
  margin-top: 20px;
}
.profile-btn-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.profile-btn-section a button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    width: 90px;
    height: 30px;
}
.deshboard-user-img {
    width: 30%;
    margin-left: auto;
    text-align: center;
}
.deshboard-user-img img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
@media screen and (min-width:1280px) and (max-width:1440px) { 

#Covid h3 {
    font-size: 25px;
}


#Covid h2 {
    font-size: 35px;
}


.report-post img {
    height: 200px;
}

.report-box select {
    width: 150px;
}

#Covid .row:first-child .col-md-8{
  padding-right: 10px!important;
}

.report-data .col-md-3, .report-post .col-md-12{
  padding: 0 5px!important;
}

.report-box{
  padding: 5px!important;
}

.report-box select {
    height: 45px;
    padding: 10px;
}

.right {
    margin-left: 17%;
}
.left{
  width: 17%;
}

.cal {
    padding: 0px 15px;
}






}


@media screen and (min-width:992px) and (max-width:1280px) { 

#Covid h3 {
    font-size: 20px;
}

#Covid h2 {
    font-size: 26px;
}

.report-post img {
    height: 160px;
}

#Covid p {
    font-size: 15px!important;
}


.report-box select {
    width:95%;
}

#Covid .row:first-child .col-md-8{
  padding-right: 10px!important;
}

.report-data .col-md-3, .report-post .col-md-12{
  padding: 0 5px!important;
}

.left ul li a{
  font-size: 12px;
}

.report-box{
  padding: 5px!important;
}

.left ul {
    padding-left: 5px;
}

.report-box select {
    height: 45px;
    padding: 10px;
}

.right {
    margin-left: 17%;
}
.left{
  width: 17%;
}

.cal {
    padding: 15px;
}

h4{
  font-size: 17px;
}


}

.deshoard-gaap{
  width: calc(100% - 30px);
}

.bar-graph .card {
    border: 1px solid #e7e7e7;
    box-shadow: 0 0 13px rgb(0 0 0 / 10%);
    border-radius: 13px;
}

.bar-graph .card .card-header{
    border-bottom: none!important;
}

.bar-graph .graph-head li{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    color: #383560;
}

.bar-graph .graph-head li:first-child, 
.bar-graph .graph-head li:nth-child(2), 
.bar-graph .graph-head li:nth-child(3), 
.bar-graph .graph-head li:nth-child(4), 
.bar-graph .graph-head li:nth-child(5), 
.bar-graph .graph-head li:nth-child(6), 
.bar-graph .graph-head li:nth-child(7){
    position: relative;
}

.bar-graph .graph-head li:first-child::before,
.bar-graph .graph-head li:nth-child(2)::before, 
.bar-graph .graph-head li:nth-child(3)::before,
.bar-graph .graph-head li:nth-child(4)::before, 
.bar-graph .graph-head li:nth-child(5)::before,
.bar-graph .graph-head li:nth-child(6)::before,
.bar-graph .graph-head li:nth-child(7)::before{
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 6px;
}

.bar-graph .graph-head li:first-child::before{
   background: #d8d0ff;
}
.bar-graph .graph-head li:nth-child(2)::before {
    background:#ffd7d1;
}
.bar-graph .graph-head li:nth-child(3)::before {
    background: #ffe6c9;
}
.bar-graph .graph-head li:nth-child(4)::before {
    background: #cdf3ff;
}
.bar-graph .graph-head li:nth-child(5)::before {
    background: #fff7d0;
}
.bar-graph .graph-head li:nth-child(6)::before {
    background:#c9facd;
}
.bar-graph .graph-head li:nth-child(7)::before {
    background: #ffe7db;
}


#myChart {
    margin-top: 30px;
}
.deshboard-img-sec {
    text-align: end;
    padding-right: 20px;
    padding-top: 50px;
}
.deshboard-img-sec img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: relative;

}
.deshboard-conteant-sec {
    /* background: red; */
    padding: 30px;
    text-align: center;
    position: absolute;
    width: 80%;
    z-index: 99;
    margin-top: 15px;
    background-image: linear-gradient(to right, #f76dab , #7724ce);
    border-radius: 5px;
}
.deshboard-conteant-sec img {
    display: block;
    text-align: center;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.deshboard-conteant-sec span {
    color: #fff;
    padding: 10px 0px;
    display: block;
    font-size: 16px;
    font-weight: 400;
}
.deshboard-conteant-btn a button {
    border: 1px solid #fff;
    background: transparent;
    width: 80px;
    color: #fff;
    font-size: 14px;
    padding: 5px 0px;
}
.arrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #842bcb transparent transparent;
    float: right;
    margin-top: -40px;
    transform: rotate(-13deg);
}